

.errorAlert{
	height:20px;
	color:#9d9d9d;
	font-size:12px;
	visibility:hidden;
}
.top-content{
    background:#666 url(/image/bg.jpg) no-repeat;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%;
    ...
}
.classRight{
	 text-align:left
}
